<div class=" ">
<nav class="flex justify-center gap-32 items-center fixed top-12 inset-x-12 rounded-[82px] px-12 py-1 font-['Open_Sans'] shadow-xl bg-[#161616] opacity-[87%] w-[70%] mx-auto">
    <h1 class="text-[40px] font-extrabold text-white">Zidan's Space</h1>
    <ul class="flex gap-10 text-white">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <div class="flex gap-7">
        <a href="#"><img src="/img/bi_instagram.png" alt="" class="size-6"></a>
        <a href="#"><img src="/img/ic_baseline-discord.png" alt="" class="size-6"></a>
        <a href="#"><img src="/img/ic_baseline-facebook.png" alt="" class="size-6"></a>
        <a href="#"><img src="/img/ic_outline-whatsapp.png" alt="" class="size-6"></a>
      
    </div>
</nav>
</div>